extends layout

block content

    h1= title   

    form(method='POST' action='')
        label(for='adminPassword')
        input(name='adminPassword' id='adminPassword' required=true type='text')
        button(type='submit') submit
    
    if errors
        for error in errors
            p #{error.msg}