doctype html
html
  head
    title members-only
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    nav
      span(class='navbar-toggle' id='js-navbar-toggle')
        i(class='fa fa-bars')
      a(href='/' class='logo') members-only
      ul(class='navBar' id='menu')
        block navigation
    main
      block content
    script(type='text/javascript' src='/javascripts/main.js')
