extends layout

block content

    div(class='container')
        form(class='inputForm' method='POST' action='')
            h3 login
            fieldset
                label(for='username') username:
                input(name='username' type='text' required=true placeholder='username' value=(underfined===user ? '': user.username))
            fieldset
                label(for='password') password:
                input(name='password' type='password' required=true placeholder='password')
            div(class='buttons')
                button(type='submit') submit
            if errors 
                ul(class='errors')
                    for error in errors
                        li!= error.msg
        