extends layout

block content
    h1= title

    form(method='POST' action='')
        label(for='secretPassword')
        input(name='secretPassword' id='secretPassword' required=true type='text')
        button(type='submit') submit