extends layout

block content

    div(class='container')
        form(class='inputForm' method='POST' action='')
            h3 become a member
            h4 enter the secret password!
            fieldset
                label(for='secretPassword') secret password:
                input(name='secretPassword' id='secretPassword' placeholder='secret password' required=true type='password')
            div(class='buttons')
                button(type='submit') submit
            if errors 
                ul(class='errors')
                    for error in errors
                        li!= error.msg