extends layout

block content

    div(class='container')
        form(class='inputForm' method='POST', action='')
            h3 new message
            h4 enter your message below!
            fieldset
                label(for='title') title:
                input(name='title' id='title' type='text' required=true value=(underfined===message ? '': message.title))
            fieldset
                label(for='message') message:
                textarea(name='message' id='message' type='text' required=true value=(underfined===message ? '': message.message))
            div(class='buttons')
                button(type='submit') submit
            if errors 
                ul(class='errors')
                    for error in errors
                        li!= error.msg
        
        